/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
/* line 2, ../sass/components/_draft-pending-views.scss */
body.user-logged-in .view-content tr.published-no {
  background-color: pink;
  border: 3px solid red;
  overflow: hidden;
}

/* line 8, ../sass/components/_draft-pending-views.scss */
body.user-logged-in .view-content tr.published-no.pending-draft {
  background-color: #FFECA9;
  border: 3px solid orange;
  overflow: hidden;
}

/* line 14, ../sass/components/_draft-pending-views.scss */
body.user-logged-in .view-content table.dataTable {
  border-collapse: collapse;
  overflow: hidden;
}

/**** Components Node for unpublished content *****/
/* Note that drupal-bootstrap-not-cdn.min.css sets the background-color to #fff4f4 for body.is-unpublished */
/* line 5, ../sass/components/_node.scss */
body.user-anonymous #edit-body-etuf-fr-0-format,
body.user-anonymous #edit-body-0-format {
  display: none;
}

/* line 12, ../sass/components/_node.scss */
body.user-logged-in.published-no article {
  background-color: pink;
  border: 3px solid hotpink;
}
/* line 16, ../sass/components/_node.scss */
body.user-logged-in.published-no div.region-header h1 {
  background-color: pink;
  border: 3px solid hotpink;
}

/* The following code will override the body.is-unpublished background-color that drupal sets by default */
/* line 23, ../sass/components/_node.scss */
body.is-unpublished {
  background-color: white;
}

/* Unpublished revision pending to overwrite the published revision */
/* line 29, ../sass/components/_node.scss */
body.user-logged-in.published-no.pending-draft article {
  background-color: #FFECA9;
  border: 3px solid orange;
}
/* line 33, ../sass/components/_node.scss */
body.user-logged-in.published-no.pending-draft div.region-header h1 {
  background-color: #FFECA9;
  border: 3px solid orange;
}

/* line 40, ../sass/components/_node.scss */
body.user-logged-in[class*='archiv'] article {
  background-color: blanchedalmond;
  border: 3px solid saddlebrown;
}
/* line 44, ../sass/components/_node.scss */
body.user-logged-in[class*='archiv'] div.region-header h1 {
  background-color: blanchedalmond;
  border: 3px solid saddlebrown;
}

/* line 1, ../sass/components/_front.scss */
.ip-covers-img {
  background-image: url("/themes/custom/aafctheme/images/aafc_homepage_banner_nov18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  /* line 10, ../sass/components/_front.scss */
  .ip-cover-hide-mobile {
    background-image: url("none") !important;
  }
}
@media screen and (max-width: 991px) {
  /* line 16, ../sass/components/_front.scss */
  .ip-cover-hide-tablet {
    background-image: url("none") !important;
  }
}
/* line 21, ../sass/components/_front.scss */
html:lang(en) body.path-frontpage h1 {
  padding-top: 0.8em;
}

/* line 2, ../sass/components/_container-fluid.scss */
div.container-fluid main nav.tabs.mrgn-tp-md.mrgn-bttm-md {
  margin-left: 13em;
}

/* line 6, ../sass/components/_container-fluid.scss */
div.container-fluid nav#wb-bc a {
  font-size: 16px;
}

/* line 9, ../sass/components/_container-fluid.scss */
div.container-fluid main div.region.region-header.container nav.tabs.mrgn-tp-md.mrgn-bttm-md {
  margin-left: 0em;
}

/* line 2, ../sass/anonymous/_restrictions.scss */
body.role-is-anonymous.path-node.published-yes .region-header nav.tabs,
body.role-is-anonymous.path-node.published-no .region-header nav.tabs {
  display: none !important;
}

/* line 2, ../sass/components/_status_message.scss */
div.alert.alert-success.access_unpublished {
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 5, ../sass/components/_status_message.scss */
div.alert.alert-success.access_unpublished span.glyphicon-copy::before {
  font-size: x-large;
  margin-left: 10px;
  position: absolute;
  bottom: -4px;
}

/* line 2, ../sass/_legacy-styles.scss */
nav.gcweb-menu, nav.gcweb-v2, nav#wb-auto-2 {
  border-top: 3px solid #38414d;
}

/* line 6, ../sass/_legacy-styles.scss */
body.path-frontpage main.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

/* line 10, ../sass/_legacy-styles.scss */
.most-requested li {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 0;
}

/* line 17, ../sass/_legacy-styles.scss */
#wb-srch {
  margin-right: 15px;
}

/* line 20, ../sass/_legacy-styles.scss */
#wb-srch input, .srchbox input {
  margin-right: 125px;
}

/* line 23, ../sass/_legacy-styles.scss */
#wb-lng li {
  margin-right: 0 !important;
}

/*
 * Site menu
 */
/* Special style for the home page - GCWeb v5 (gcweb-menu) */
/* line 30, ../sass/_legacy-styles.scss */
.home .gcweb-menu {
  border-top: 1px solid #ddd;
  color: #284162;
  margin-left: 0px;
}

/* line 35, ../sass/_legacy-styles.scss */
.home .gcweb-menu button[aria-haspopup=true] {
  background-color: #26374a;
  border-color: #26374a;
  color: #FFF;
}

/* line 40, ../sass/_legacy-styles.scss */
.home .gcweb-menu button[aria-haspopup=true]:hover {
  background-color: #444;
  color: #fff;
}

/* line 49, ../sass/_legacy-styles.scss */
ol, ul {
  padding-left: unset;
}

/* line 52, ../sass/_legacy-styles.scss */
#searchoptions {
  line-height: 1.25em;
}

/* line 55, ../sass/_legacy-styles.scss */
#wb-bc {
  margin-left: -30px;
  margin-top: 15px;
}

/* line 59, ../sass/_legacy-styles.scss */
.navbar img {
  width: auto !important;
}

/* line 62, ../sass/_legacy-styles.scss */
.col-sm-12.bs-region.bs-region--bottom {
  padding-right: 0;
}

/* line 65, ../sass/_legacy-styles.scss */
.container-fluid {
  margin-right: 15px;
}

/* line 68, ../sass/_legacy-styles.scss */
.region.region-search {
  margin-top: -0.75em;
  right: 15px;
}

/* line 72, ../sass/_legacy-styles.scss */
#wb-srch input, .srchbox input {
  margin-right: 90px;
}

/* line 75, ../sass/_legacy-styles.scss */
.breadcrumb {
  padding: 8px 20px;
}

/* line 78, ../sass/_legacy-styles.scss */
header .brand {
  margin-top: -13px;
}

/* line 81, ../sass/_legacy-styles.scss */
body.home h1 {
  font-weight: 700;
  border-bottom-width: 1px;
}

/* line 85, ../sass/_legacy-styles.scss */
body.anonymous #wb-lng li {
  padding-right: 0;
}

/* line 88, ../sass/_legacy-styles.scss */
.most-requested h2 {
  font-size: 1.2em;
}

/* line 92, ../sass/_legacy-styles.scss */
.ip-btn {
  font-size: 1em;
}

/* supports the 3 column layout for MR instead of 4 columns */
/* line 97, ../sass/_legacy-styles.scss */
.list-responsive-3 > li {
  float: left;
  padding-right: 5px;
  width: 50%;
}

/* line 103, ../sass/_legacy-styles.scss */
.list-responsive-3 > li:nth-child(2n+2) {
  clear: right;
}

/* line 107, ../sass/_legacy-styles.scss */
.list-responsive-3:before,
.list-responsive-3:after {
  content: " ";
  display: table;
}

/* line 113, ../sass/_legacy-styles.scss */
.list-responsive-3:after {
  clear: both;
}

/* line 117, ../sass/_legacy-styles.scss */
.followus {
  background-color: #f5f5f5;
}

/* line 121, ../sass/_legacy-styles.scss */
.followus ul li a {
  border: solid 2px #f5f5f5;
}

/* line 125, ../sass/_legacy-styles.scss */
.featured {
  margin-bottom: 0em;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #31708f;
}

/* line 132, ../sass/_legacy-styles.scss */
.featured a {
  color: #fff;
}

/* line 136, ../sass/_legacy-styles.scss */
ul.feeds-cont li a {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  /* line 142, ../sass/_legacy-styles.scss */
  .featured {
    padding-left: .8em;
  }
}
@media screen and (min-width: 1200px) {
  /* line 148, ../sass/_legacy-styles.scss */
  .list-responsive-3 > li {
    width: 33%;
  }
}
@media screen and (max-width: 767px) {
  /* line 155, ../sass/_legacy-styles.scss */
  .btn-call-to-action {
    font-size: 19px !important;
  }

  /* line 159, ../sass/_legacy-styles.scss */
  .most-requested li {
    font-size: 19px;
  }

  /* line 163, ../sass/_legacy-styles.scss */
  .list-responsive-3 > li {
    clear: right;
    width: 100%;
  }

  /* line 168, ../sass/_legacy-styles.scss */
  .mobile-left {
    float: left !important;
  }

  /* line 172, ../sass/_legacy-styles.scss */
  .ip-cover-hide-mobile {
    background-image: url("none") !important;
  }
}
/* line 177, ../sass/_legacy-styles.scss */
.featured {
  margin-bottom: 0em;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #31708f;
}

/* line 32, ../sass/styles.scss */
html[lang="fr"] .english-only {
  display: none !important;
}

/* line 36, ../sass/styles.scss */
html[lang="en"] .french-only {
  display: none !important;
}

/* line 41, ../sass/styles.scss */
footer#wb-info .landscape div.contextual.open ul.contextual-links li a {
  color: #333 !important;
}

/* line 50, ../sass/styles.scss */
.icon.glyphicon.glyphicon-log-in {
  min-height: 20px;
}

/* line 55, ../sass/styles.scss */
.region.region-content-footer {
  padding-top: 20px;
}

/* line 60, ../sass/styles.scss */
.navbar img {
  width: fit-content;
  max-width: 100%;
  height: auto;
}

/*BUG FIX FOR LAYOUT BUILDER*/
/* line 69, ../sass/styles.scss */
#drupal-off-canvas *:not(div), #drupal-off-canvas *:not(svg *),
#drupal-off-canvas *:after, #drupal-off-canvas *:before {
  all: revert;
}

/* line 74, ../sass/styles.scss */
.ui-dialog.ui-dialog-off-canvas {
  background: #efefef;
}

/*Report a problem webform layout */
/* line 80, ../sass/styles.scss */
.webform-submission-report-a-problem-on-this-page-form legend {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 20px;
}
/* line 85, ../sass/styles.scss */
.webform-submission-report-a-problem-on-this-page-form legend span::after {
  display: none;
}
/* line 89, ../sass/styles.scss */
.webform-submission-report-a-problem-on-this-page-form div.form-item-wf-reportaproblem-gc-key-access,
.webform-submission-report-a-problem-on-this-page-form div.form-item-wf-reportaproblem-securekey-concierge-banking-credential-access,
.webform-submission-report-a-problem-on-this-page-form div.form-item-wf-reportaproblem-personal-access-code-pac-problems-or-ei-access-code-ac-problems,
.webform-submission-report-a-problem-on-this-page-form div.form-item-wf-reportaproblem-social-insurance-number-sin-validation-problems,
.webform-submission-report-a-problem-on-this-page-form div.form-item-wf-reportaproblem-other-login-error-not-in-this-list {
  margin-left: 40px;
}

/* END BUG FIX FOR LAYOUT BUILDER */

/*# sourceMappingURL=styles.css.map */
