.background-class{
  background-image: url("/themes/custom/aafctheme/images/aafc_homepage_banner_nov18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 15px;
}