@media screen and (max-width: 844px) {
  form.search-form div.js-form-type-select{
    float: left;
    position: absolute;
    right: 75px;
  }
  form.search-form div.js-form-type-search{
    width: 80%;
    left: 75px;
  }
}