section.customized-site-alert  {
  .alert-info > :first-child::before {
    content: none;
  }
}

div.alert.bs-site-alert.alert-info > :first-child::before {
    content: none;
}

div.alert.bs-site-alert.alert-info {
  border-color: #d7faff;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 16px;
}

section.customized-site-alert  {
  .alert-warning  > :first-child::before {
    content: none;
  }
}

div[role="alert"].alert.bs-site-alert.alert-warning {
  border-left: 0px;
  :last-child {
    padding-bottom: 0px;
  }
}

div[role="alert"]::before {
    content: none;
}

div.alert.bs-site-alert.alert-warning  {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 16px;
}