div.alert.bs-site-alert.alert-info {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
  /*border-color: transparent;*/
}

section.customized-site-alert {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  border-color: transparent;
}

div.container-fluid {
  margin-right: 0px;
}