section.customized-site-alert  {
  .alert-info > :first-child::before {
    content: none;
  }
}

div.alert.bs-site-alert.alert-info > :first-child::before {
    content: none;
}

div.alert.bs-site-alert.alert-info {
  border-color: #d7faff;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

div.container-fluid {
  margin-right: 0px;
}